                       <footer>
            <div class="bottom-menu-wrapper">
                <ul class="horizontal-menu compact">
                    <li><a>&copy; 2015 JT & LB</a></li>
                    <li class="place-right"><a href="#">Privacy</a></li>
                    <li class="place-right"><a href="#">Legal</a></li>
                    <li class="place-right"><a href="#">Help</a></li>
                    <li class="place-right"><a href="#">Contact us</a></li>
                </ul>
            </div>
        </footer>