

    <div class="app-bar" data-role="appbar">

        <a class="app-bar-element branding">JT&LB</a>

        <ul class="app-bar-menu">
            <li><a href="index.html">Home</a></li>
            <li data-flexorder="3"><a href="category.html">Categories</a></li>
        </ul>
        <div class="app-bar-pullbutton automatic"></div>
        <ul class="app-bar-menu place-right" data-flexdirection="reverse">
            <li>

                <form id="searchbar" action="search_results.html" method="post">
                <div class="input-control text">
                    <input type="text" placeholder="Search...">
                </div>
            </form>
            </li>
            <li><a href=""><span class="mif-phone icon"></span>Call</a></li>
            <li><a href=""><span class="mif-cart icon"></span> Cart(1)</a></li>
        </ul>
    </div>