 <div class="app-bar" data-role="appbar">

                    <a class="app-bar-element branding">JT&LB</a>

                    <ul class="app-bar-menu">
                        <li><a href="">Home</a></li>
                        <li data-flexorder="2"><a href="">Best Sellers</a></li>
                        <li data-flexorder="1"><a href="">New Releases</a></li>
                        <li>
                            <a href="" class="dropdown-toggle">Categories</a>
                            <ul class="d-menu" data-role="dropdown">
                                <li><a href="">Politics</a></li>
                                <li><a href="">History</a></li>
                                <li><a href="">Fiction</a></li>
                                <li><a href="">Health</a></li>
                                <li><a href="">Science</a></li>
                                <li><a href="">Kids</a></li>
                                <li><a href="">Teenagers</a></li>
                                <li class="divider"></li>
                                <li><a href="" class="dropdown-toggle">Other Products</a>
                                    <ul class="d-menu" data-role="dropdown">
                                        <li><a href="">Manga</a></li>
                                        <li><a href="">Comics</a></li>
                                        <li><a href="">Graphic novels</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <div class="app-bar-pullbutton automatic"></div>
                    <ul class="app-bar-menu place-right" data-flexdirection="reverse">
                        <li>
                            <div class="input-control text">
                                <input type="text" placeholder="Search...">
                            </div>
                        </li>
                        <li><a href=""><span class="mif-phone icon"></span>Call</a></li>
                        <li><a href=""><span class="mif-cart icon"></span> Cart(0)</a></li>
                    </ul>
                </div>